<h1>Novo Cliente</h1>

<div class="container-fluid">
  <%= render "form", cliente: @cliente %>

  <br>

  <div>
    <%= button_to "Voltar", clientes_path, class: 'btn btn-outline-dark', method: :get %>
  </div>
</div>

<%= javascript_include_tag 'get_cidade' %>