<h1>Vendas</h1>

<div class="container-fluid">
  <table class="table table-striped table-bordered table-responsive-lg table-hover" id="tabelaListaVendas">
    <thead>
    <tr>
      <th>Codigo de Venda</th>
      <th>Data da Venda</th>
      <th>Quantidade</th>
      <th>Total R$</th>
      <th>Pagamento</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <% @venda_produto.each do |venda| %>
    <tr>
      <%= render venda %>
    </tr>
      <% end %>
    </tbody>
  </table>
</div>