<h1>Novo Produto</h1>

<div class="container-fluid">
<%= render "form", produto: @produto %>

<br>

<div>
  <%= button_to "Voltar", produtos_path, class: 'btn btn-outline-dark', method: :get %>
</div>
</div>