<h1>Retirada de estoque</h1>

<div class="container-fluid">
<%= render "form_subtrai", produto: @produto_subtrai %>

<br>

<div>
  <% if current_user.admin %>
    <%= button_to "Mostrar", @produto, class: 'btn btn-outline-info', method: :get %> |
    <%= button_to "Voltar", produtos_path, class: 'btn btn-outline-dark', method: :get %>


  <% else %>
    <%= button_to "Voltar", welcome_index_path, class: 'btn btn-outline-dark', method: :get %>
  <% end %>
</div>
</div>