/*
*= require bootstrap/dist/css/bootstrap
*= require datatables.net-bs4/css/dataTables.bootstrap4
*= require fontawesome-free/css/all
*= require sb-admin-2
*/

#barcode-scanner canvas.drawingBuffer, #barcode-scanner video.drawingBuffer {
    display: none;
}

#barcode-scanner canvas, #barcode-scanner video {
    width: 65%;
    height: auto;
}
.img-letreiro{
    margin-top: 20%;
}
.button_to {
    display: inline;
}
.button_to div{
    display: inline;
}
.letreiro{
    margin-top: auto;
    font-size: x-small;
}
.box.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.box.flex h2{
    text-align: center;
}
.container-flex{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.container-flex button{
    margin-left: 10%;
}