<h1>Visualizar LOG</h1>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped" id="tabelaLog">
    <thead>
    <tr>
    <th class="text-center">Usuário</th>
    <th class="text-center">Retirada</th>
    <th class="text-center">Data</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <% @logs.each do |log| %>
      <td id="usuario"><%= log.usuario %></td>
      <td class="retirada"><%= t('valores.peso', value: '%0.3f' %log.retirada) %></td>
      <td class="data_log"><%= l(log.data_retirada.to_date, format: :default) %></td>
    </tr>
        <% end %>
    </tbody>
  </table>
</div>

<%= button_to 'Voltar', welcome_index_path, class: 'btn btn-outline-dark', method: :get %>